.gou-save-btn{
  background-color: #22b9ff;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.gou-save-btn:hover{
  color: white;
  opacity: 0.8;
}

.gou-unsave-btn{
  background-color: gray;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.gou-unsave-btn:hover{
  color: white;
  opacity: 0.8;
}

.gou-main-img {
  height: 275px;
  width: 100%;
}
.gou-contact-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eff3f6;
}
.gou-contact-item {
  margin-top: 20px;
}

.gou-contact-name-container {
  display: flex;
  align-items: center;
}

.gou-general-detail-container {
  display: flex;
  flex-direction: column;
}

.gou-general-title-container{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.gou-general-title {
  font-size: 26px;
  font-weight: 500;
}
.gou-general-price {
  font-size: 22px;
  font-weight: 400;
}
.gou-general-others {
  display: flex;
  margin-top: 10px;
}
.gou-icon {
  margin-right: 10px;
}
.gou-detail-section {
  margin-bottom: 20px;
}
.gou-detail-section-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  border-top: 1px solid #eff3f6;
}

.gou-utility-table{
    margin-top: 15px;
    background-color: #eff3f6;
    padding: 20px
}

.gou-distance-selector{
  display: flex;
  align-items: center;
}

.gou-utility-name{
  font-weight: bold;
  font-size: 16px;
}

.gou-utility-detail-container{
  margin-top: 5px
}

.gou-utility-detail-title{
  font-weight: bold;
}
  
.ant-carousel .slick-slide {
  text-align: center;
  height: 250px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}