.gou-toolbar{
    margin-bottom: 16px; 
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap
}
.gou-new-post-btn{
    margin-left: auto;
    background-color: #1a223c;
    color: white
}

@media only screen and (max-width: 400px){
    .gou-publish-status-filter-select{
        margin-top: 10px;
    }
    .gou-clear-filter-btn{
        margin-top: 10px;
    }
    .gou-new-post-btn{
        margin: 10px 0px 0px 5px;
        background-color: #1a223c;
        color: white
    }
}

@media only screen and (max-width: 320px){
    .gou-need-sell-rent-filter-btn{
        margin-top: 10px;
    }
}