#map {
  width: 100%;
  height: 400px;
  margin-top: 15px;
  overflow: hidden;
}

.mapboxgl-marker {
  position: absolute;
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #22b9ff;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-duration: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-university {
  transform: rotate(45deg);
  color: white;
}

.gou-map-container{
  padding: 0px 20px 0px 20px
}
