/* antd select custom */
.gou-antd-select {
  width: 100%;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 4px !important;
  border: 1px solid #e2e5ec !important;
  height: 38px !important;
}
.gou-status-container {
  display: flex;
  align-items: center;
}
/* map custom */
#map {
  width: 100%;
  height: 400px;
  margin-top: 15px;
  overflow: hidden;
}

.mapboxgl-marker {
  position: absolute;
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #22b9ff;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-university, .fa-medkit, .fa-hospital, .fa-clinic-medical, .fa-language, .fa-music,
.fa-dog, .fa-baby, .fa-school, .fa-building, .fa-language, .fa-music, .fa-city, .fa-shopping-cart {
  transform: rotate(45deg);
  color: white;
}

#gou-map-container{
  margin-bottom: 2rem;
}

.gou-radius-slider{
  margin-bottom: 2rem;
}

.gou-intro-card-icon{
  color: #1a223c
}
.flaticon-edit{
  color: #1a223c
}
.ant-pagination-item-active {
  border-color: #1a223c !important;
}
.ant-pagination-item:hover {
  border-color: #1a223c !important;
}
.ant-pagination-item-active a{
  color: #1a223c !important;
}
.ant-pagination-item a:hover{
  color: #1a223c !important;
}
.ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link{
  color: #1a223c !important;
  border-color: #1a223c !important;
}
button.ant-btn.gou-toolbar-item{
  height: 38px
}
.gou-noti-num:hover{
  color: black
}