/* antd select custom */
.gou-antd-select {
  width: 100%;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 4px !important;
  border: 1px solid #e2e5ec !important;
  height: 38px !important;
}
.gou-status-container {
  display: flex;
  align-items: center;
}
/* map custom */
#map {
  width: 100%;
  height: 600px;
  margin-top: 15px;
  overflow: hidden;
}

.mapboxgl-marker {
  position: absolute;
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #22b9ff;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-duration: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-university {
  transform: rotate(45deg);
  color: white;
}

#gou-map-container{
  margin-bottom: 2rem;
}

.gou-radius-slider{
  margin-bottom: 2rem;
}
